.container
	%header.header
	.header_icon
		- if !current_page?(root_path)
			= link_to :back do
				= image_tag 'arrow.svg', class: 'header_back'
	%ul
		- @profile.errors.full_messages.each do |message|
			%li= message

	= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
		%div
			= f.label :avatar, 'Avatar'
		%div
			= f.file_field :avatar
		%div
			= f.label :account, 'Account', class: 'text-label'
		%div
			= f.text_field :account, class: 'text'

		= f.submit 'preservation', class: 'btn-primary'