.container
	%header.header
		.header_icon
			- if !current_page?(root_path)
				= link_to :back do
					= image_tag 'arrow.svg', class: 'header_back'
			.user_account
				= current_user.account
-if user_signed_in?
	.profile_icon.dropdown
		= image_tag @profile.user.avatar_image
		.dropdown-content.mini
			= link_to 'Edit', edit_profile_path