.container
	%header.header
		.header_icon
			- if !current_page?(root_path)
				= link_to :back do
					= image_tag 'arrow.svg', class: 'header_back'
			.header_title
				Comment
	- @comments.each do |comment|
		.post_comment
			.comment_info
				= image_tag comment.user.avatar_image
			%div
				.comment_user
					%p= comment.user.account
				.comment_content
					%p= comment.content
	
	= link_to 'new', new_post_comment_path(@post)