.container#post-show{data: {post_id: @post.id}}
	%header.header
		.header_icon
			- if !current_page?(root_path)
				= link_to new_post_path do
					= image_tag 'photo-camera.svg', class: 'header_back'
		.post
			.post_detail
				= link_to account_path(@post.user) do
					= image_tag @post.user.avatar_image
				%div
					.post_name
						= @post.user.account
					%p= time_ago_in_words(@post.created_at)
			.post_content
				- if @post.images.attached?
					- @post.images.each do |image|
						.post_image
							= image_tag(image)
			.post_content_item
				- if user_signed_in?
					.post_like.hidden.active-like
						= image_tag 'like-active.svg'
					.post_like.hidden.inactive-like
						= image_tag 'like.svg'
					.post_group
						= image_tag 'Group.svg'
					.post_share
						= link_to (image_tag 'share.svg'), 'https://twitter.com/i/flow/login'
			.post_title
				%p= @post.title
				%p= @post.content
.container
	%header.header
		.header_icon
			.header_title
				%h2 Comment
	.comments_container
- if user_signed_in?
	.form_container
		.comment_text_area.show_comment_form
			=	image_tag 'Group.svg', class: 'sm'
		.comment_text_area_after.hidden
			=	text_area_tag :comment_box, '', class: 'sm'
			.btn-secondary.add-comment-button
				コメントを追加

= javascript_pack_tag 'post'